#header {
  background-color: black;
  height: 80px;
}

h3 {
  color: white;
}

.elite-logo {
  width: 140px;
  margin-left: 20px;
}

.social-links {
  float: right;
  margin-right: 30px;
  margin-top: 50px;
}

i {
  color: red;
}
