section {
  background-color: black;
  height: 300px;
}

.banner-header {
  display: inline-block;
}

.elite {
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 70px;
}

#elite-header {
  text-align: center;
}

.author {
  text-decoration: none;
  color: red;
  margin-left: 30px;
}

.about {
  text-decoration: none;
  color: red;
}

.tag {
  text-decoration: none;
  color: red;
}
